*~
\#*\#
*.bak
.venv
.aider*
.env
*.py[cod]
*.so
*.egg-info
dist
build
*.log
*.tmp
*.pid
*.seed
*.egg
.eggs
var
*.env
*.iml
*.ipynb
.ipynb_checkpoints
nbproject
.idea
.vscode
__pycache__
.pytest_cache
htmlcov
.mypy_cache
.coverage
note.txt